*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}
h1 {
  margin-bottom: 26px;
}
.body-container {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  padding: 8px;
  background-color: #d3d3d3;
}

.container {
  width: 480px;
  height: 600px;
  padding: 5px 16px;
  margin: 0 auto;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.wrap-sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.twitter-icon {
  width: 45px;

  margin: 0 auto;
}
button {
  border-radius: 14px;

  padding: 8px;
  background-color: white;
  border: 1px solid gray;
  margin-bottom: 22px;
}
.button-x {
  width: 30px;
  border: none;
  margin-bottom: 0;
}
.sign-in-icon {
  width: 22px;
}
.sign-in-button {
  width: 260px;
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
}
.next-button {
  width: 260px;
  background-color: black;
  color: white;
}
.password-button {
  width: 260px;
  font-weight: bold;
}
.button-apple {
  width: 260px;
  font-weight: bold;
}
.wrap {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 30px;
}
input {
  width: 240px;
  margin-bottom: 25px;
  padding: 15px 5px;
  border: 1px solid black;
}

.sign-up-button {
  border: none;
  margin: 0;
}
.wrap-sign-up {
  display: flex;
  align-items: center;
  margin-left: 95px;
}
.break {
  margin-bottom: 22px;
}
::placeholder {
  font-size: 13px;

  color: #696969;
}
